.footer {
  background-color: #000000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.box-icons {
  border-bottom: 1px solid #babec6;
  width: 80%;
}

.box-icons ul {
  display: flex;
  padding: 0.25rem 0;
  justify-content: center;
  list-style: none;
}

.box-icons li {
  padding: 0 1.5rem 0 1.5rem;
}

.box-icons ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.box-credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0 0.5rem 0 0.5rem;
}

.credits-description {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #babec6;
}
