.container-fullscreen {
  justify-content: start;
  padding: 1rem 1rem;
}

.card-fullscreen {
  gap: 1rem;
  height: 90vh;
  overflow: auto;
}

.box-title {
  display: flex;
  padding-top: 1rem;
  width: 100%;
}

.box-title .title {
  font-size: 1.5rem;
  font-weight: 500;
}

.box-title .date {
  font-weight: 500;
  margin-inline-start: auto;
}

.box-sub-title {
  color: #555555;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
}

.box-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 450px;
}

.box-schedule {
  display: flex;
  border-bottom: 1px solid #cccccc;
  padding: 0.25rem 0;
  border-radius: 6px;
  transition: background-color 0.4s ease;
}

.box-schedule .hour {
  font-weight: 600;
  padding-left: 0.5rem;
  width: 13%;
}

.box-schedule .customer {
  margin-left: 1rem;
}

.box-schedule .scheduleAppointment {
  display: none;
  flex: 1;
  font-weight: 600;
  text-align: center;
}

.box-schedule:hover,
.box-schedule:focus-within {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.04);
}

.box-schedule.available-slot:hover .hour,
.box-schedule.available-slot:hover .customer,
.box-schedule.available-slot:focus-within .hour,
.box-schedule.available-slot:focus-within .customer {
  display: none;
}

.box-schedule.available-slot:hover .scheduleAppointment,
.box-schedule.available-slot:focus-within .scheduleAppointment {
  display: inline;
}

.box-buttons {
  margin-top: 1rem;
}

@media (max-width: 530px) {
  .box-content {
    min-width: 0;
    width: 100%;
  }
}

@media (max-width: 320px) {
  .box-title {
    align-items: center;
    flex-direction: column;
    gap: 0.25rem;
  }

  .box-title .date {
    margin-inline-start: initial;
  }
}
