.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.box-title {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.box-calendar {
  display: flex;
  justify-content: center;
  width: 80%;
}
