.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 0.5px solid rgb(218, 218, 218);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  border-radius: 26px;
}

.box-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2.5rem 0.5rem 1.5rem 0.5rem;
}

.box-title {
  h1 {
    font-size: 1.6rem;
    font-weight: 600;
  }

  p {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(100, 100, 100);
  }
}

.box-calendar {
  width: 95%;
  border: 0.5px solid rgb(218, 218, 218);
  border-radius: 16px;
  margin-bottom: 2.5rem;
}

.calendar-paginator {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.calendar-paginator .current-month {
  flex: 1;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0 1rem;
}

.box-buttons {
  gap: 0.5rem;
  margin-right: 1rem;
}

.box-buttons {
  button {
    color: rgb(134, 6, 232);
    background-color: #fff;
    border: 0.5px solid rgb(218, 218, 218);
    font-weight: 700;
  }

  .btn-grouped button {
    border-radius: 0px;
  }

  .btn-grouped button:first-child {
    border-right: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .btn-grouped button:last-child {
    border-left: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  button:hover {
    background-color: rgb(106, 0, 187);
    color: #fff;
  }
}

mwl-calendar-month-view {
  width: 100%;
}

// mwl-calendar-month-view-header class
:host ::ng-deep {
  .cal-header {
    display: flex;
    padding: 1.25rem 0;
    background-color: rgb(134, 6, 232);
  }

  .cal-header :nth-child(n + 1) {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    flex: 1;
    text-align: center;
  }

  .cal-days .cal-cell-row {
    display: flex;
    text-align: center;
  }

  mwl-calendar-month-cell {
    flex: 1;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 2rem 0;
  }

  //disable sunday and monday columns
  .cal-header :nth-child(1),
  .cal-header :nth-child(2),
  .cal-days .cal-cell-row .cal-day-cell:nth-child(1),
  .cal-days .cal-cell-row .cal-day-cell:nth-child(2) {
    display: none;
  }
}

.custom-day-cell span {
  border-radius: 50%;
  padding: 1.5rem;
  transition: 0.5s;
}

.custom-day-cell .day-past {
  pointer-events: none;
  opacity: 0.45;
  filter: grayscale(0.1);
  cursor: default;
}

.custom-day-cell:hover .day {
  cursor: pointer;
  background-color: rgb(211, 171, 242);
}

@media (max-width: 670px) {
  .custom-day-cell span {
    padding: 1rem;
  }
}
