mwl-calendar-month-view {
  width: 100%;
}

// mwl-calendar-month-view-header class
:host ::ng-deep .cal-header {
  display: flex;
  padding: 2rem 0 2rem 0;
  background-color: rgb(134, 6, 232);
}

:host ::ng-deep .cal-header :nth-child(n + 1) {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  flex: 1;
  text-align: center;
}

:host ::ng-deep .cal-days {
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .cal-days .cal-cell-row {
  display: flex;
  text-align: center;
  background-color: rgb(228, 228, 228);
  border-bottom: 1px solid rgb(126, 126, 126);
}

:host ::ng-deep mwl-calendar-month-cell {
  flex: 1;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 2rem 0;
  border-left: 1px solid rgb(126, 126, 126);
}

:host ::ng-deep mwl-calendar-month-cell:hover {
  cursor: pointer;
  background-color: rgb(211, 171, 242);
  transition: 0.5s;
}

:host ::ng-deep .cal-days .cal-cell-row > :last-child {
  border-right: 1px solid rgb(126, 126, 126);
}

:host ::ng-deep .cal-day-badge {
  display: none;
}


:host ::ng-deep .cal-day-cell.cal-past {
  pointer-events: none;
  opacity: 0.45;
  filter: grayscale(0.1);
  cursor: default;
}

//disable sunday and monday columns
:host ::ng-deep .cal-header :nth-child(1),
:host ::ng-deep .cal-header :nth-child(2),
:host ::ng-deep .cal-days .cal-cell-row .cal-day-cell:nth-child(1),
:host ::ng-deep .cal-days .cal-cell-row .cal-day-cell:nth-child(2) {
  display: none;
}
